@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html, body, #vue-element {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F6;
}

@media (min-width: 1024px) {
  body {
    background-color: #F5F5F6;
    overflow-y: hidden;
  }
}

body .navigation {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  position: fixed;
  bottom: 0;
  background-color: #336699;
  z-index: 1;
}

@media (min-width: 1024px) {
  body .navigation {
    display: none;
  }
}

body .navigation .nav-btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  margin: 0px 25px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body .navigation .nav-btn {
    margin: 0px 70px;
    font-size: 26px;
  }
}

body .navigation .nav-btn .nav-icon {
  margin-right: 10px;
  font-size: 18px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body .navigation .nav-btn .nav-icon {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .6fr 1fr;
        grid-template-columns: .6fr 1fr;
    -ms-grid-rows: 0.1fr 0.7fr;
        grid-template-rows: 0.1fr 0.7fr;
        grid-template-areas: "localstat heatmap" "localstat global";
  }
}

@media (min-width: 1366px) {
  body main {
    -ms-grid-columns: .4fr 1fr;
        grid-template-columns: .4fr 1fr;
  }
}

body main .local-statistics {
  display: none;
  padding: 10px;
  background-color: white;
  height: 100vh;
}

@media (min-width: 1024px) {
  body main .local-statistics {
    display: block;
    grid-area: localstat;
    overflow-y: scroll;
  }
}

body main .local-statistics .country-name {
  font-size: 26px;
  color: #336699;
  text-transform: uppercase;
  margin: 30px 0px 10px 0px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .local-statistics .country-name {
    font-size: 42px;
  }
}

body main .local-statistics .local-graph {
  margin-top: 15px;
}

body main .local-statistics .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px 0px #bfbfbf;
          box-shadow: 0px 5px 10px 0px #bfbfbf;
}

body main .local-statistics .search-box .search-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  padding: 10px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .local-statistics .search-box .search-input {
    padding: 20px;
  }
}

body main .local-statistics .search-box .search-input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body main .local-statistics .search-box .search-input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body main .local-statistics .search-box .search-input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body main .local-statistics .search-box .search-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .local-statistics .search-box .search-input::-webkit-input-placeholder {
    font-size: 26px;
  }
  body main .local-statistics .search-box .search-input:-ms-input-placeholder {
    font-size: 26px;
  }
  body main .local-statistics .search-box .search-input::-ms-input-placeholder {
    font-size: 26px;
  }
  body main .local-statistics .search-box .search-input::placeholder {
    font-size: 26px;
  }
}

body main .local-statistics .search-box .search-btn {
  display: block;
  color: white;
  background-color: #FF6384;
  border: 0;
  font-size: 22px;
  width: 50px;
  height: 40px;
}

body main .local-statistics .country-list-header {
  display: inline-block;
  margin-top: 30px;
  color: #FF6384;
  font-weight: 700;
}

body main .local-statistics .country-list {
  padding: 0px;
}

body main .local-statistics .country-list .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  padding: 3px 0px 10px 0px;
  border-bottom: 1px solid #707070;
  -webkit-transition: color ease-in-out 0.4s;
  transition: color ease-in-out 0.4s;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .local-statistics .country-list .country {
    font-size: 22px;
  }
}

body main .local-statistics .country-list .country .list-cases {
  color: #336699;
}

body main .local-statistics .country-list .country:hover {
  cursor: pointer;
  color: #FF6384;
}

body main .local-statistics .spacer {
  margin-bottom: 100px;
}

body main .heatmap {
  padding: 10px;
}

@media (min-width: 1024px) {
  body main .heatmap {
    grid-area: heatmap;
    padding: 10px;
  }
}

body main .heatmap .heatmap-header {
  margin: 0px;
  margin-top: 10px;
  color: #336699;
  text-transform: uppercase;
  font-size: 22px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .heatmap .heatmap-header {
    font-size: 42px;
  }
}

body main .heatmap #region-heatmap {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  body main .heatmap #region-heatmap {
    height: 350px !important;
  }
}

body main .global-statistics {
  background-color: white;
  border-top: 1px solid #707070;
  padding: 10px 10px;
}

@media (min-width: 1024px) {
  body main .global-statistics {
    grid-area: global;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.8fr;
        grid-template-columns: 1fr 0.8fr;
    -ms-grid-rows: 0.3fr 1fr 0.1fr;
        grid-template-rows: 0.3fr 1fr 0.1fr;
        grid-template-areas: "header header" "graph topfive" "footer footer";
  }
}

@media (min-width: 1280px) {
  body main .global-statistics {
    -ms-grid-rows: 0.1fr 1fr 0.2fr;
        grid-template-rows: 0.1fr 1fr 0.2fr;
  }
}

body main .global-statistics .global-header {
  margin: 0px 0px 10px 0px;
  color: #336699;
  text-transform: uppercase;
  font-size: 22px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .global-statistics .global-header {
    font-size: 42px;
  }
}

@media (min-width: 1024px) {
  body main .global-statistics .global-header {
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  body main .global-statistics .global-container-header {
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1280px) {
  body main .global-statistics .global-container-header .global-cases {
    width: 400px;
  }
}

body main .global-statistics .global-graph {
  margin-top: 15px;
}

@media (min-width: 1024px) {
  body main .global-statistics .global-graph {
    grid-area: graph;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  body main .global-statistics .top-five-list-container {
    grid-area: topfive;
    padding: 10px;
  }
}

body main .global-statistics .top-five {
  font-size: 12px;
  color: #336699;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .global-statistics .top-five {
    font-size: 22px;
  }
}

body main .global-statistics .top-five-list {
  padding: 0px;
  margin-bottom: 50px;
}

@media (min-width: 1280px) {
  body main .global-statistics .top-five-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 1500px) {
  body main .global-statistics .top-five-list {
    margin-bottom: 50px;
  }
}

body main .global-statistics .top-five-list .top-five-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #9A9A9A;
  font-weight: 600;
  padding: 0px 10px;
}

@media (min-width: 700px) and (min-height: 900px) {
  body main .global-statistics .top-five-list .top-five-entry {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  body main .global-statistics .top-five-list .top-five-entry {
    font-size: 12px;
  }
}

@media (min-width: 1366px) {
  body main .global-statistics .top-five-list .top-five-entry {
    font-size: 16px;
  }
}

body main .global-statistics .top-five-list .top-five-entry .entry-cases {
  color: #336699;
  padding: 5px 0px;
}

body .application-logo {
  margin: 0;
  font-size: 18px;
  color: #707070;
}

@media (min-width: 700px) and (min-height: 900px) {
  body .application-logo {
    font-size: 32px;
  }
}

body .case-statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1.2fr 1fr 1fr;
      grid-template-columns: 1.2fr 1fr 1fr;
      grid-template-areas: "confirmed deaths recovered";
}

body .case-statistics .confirmed {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: confirmed;
}

body .case-statistics .deaths {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: deaths;
}

body .case-statistics .recovered {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: recovered;
}

body .case-statistics .stat-label {
  color: #9A9A9A;
  font-size: 10px;
  font-weight: 600;
}

@media (min-width: 700px) and (min-height: 900px) {
  body .case-statistics .stat-label {
    font-size: 22px;
  }
}

body .case-statistics .stat-data {
  color: #FF6384;
  font-weight: 700;
  font-size: 22px;
  display: block;
}

@media (min-width: 700px) and (min-height: 900px) {
  body .case-statistics .stat-data {
    font-size: 48px;
  }
}

.credits {
  grid-area: footer;
  color: #336699;
  margin-bottom: 70px;
}

@media (min-width: 1024px) {
  .credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.credits .credit {
  display: block;
  font-size: 10px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .credits .credit {
    font-weight: 15px;
  }
}

.credits .credit a {
  color: inherit;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner-container .spinner-main-text {
  font-weight: 600;
  font-size: 32px;
}

.spinner-container .spinner {
  text-align: center;
  color: #336699;
}

.spinner-container .loader, .spinner-container .loader:before, .spinner-container .loader:after {
  background: #FF6384;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.spinner-container .loader {
  color: #FF6384;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner-container .loader:before, .spinner-container .loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.spinner-container .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-container .loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

@media (min-width: 1024px) {
  .remove-desktop {
    display: none;
  }
}

.remove-mobile {
  display: none;
}

@media (min-width: 1024px) {
  .remove-mobile {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */