<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/search-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <title>COVID-19 Monitoring System</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="resources/fontawesome/all.min.css">
</head>

<body>
    <div id="vue-element">
        <div class="spinner-container">
            <div class="spinner">
                <span class="spinner-main-text">COVID-19 Tracker</span>
                <div class="loader"></div>
                <span class="spinner-main-text">Loading Data</span>
            </div>
        </div>
        <!-- Navigation Component -->
        <nav class="navigation">
            <div class="nav-btn-container">
                <a href="#" class="nav-btn" v-on:click="switch_mobile('1')"><i class="fas fa-map-pin nav-icon"></i>Local
                    Data</a>
                <a href="#" class="nav-btn" v-on:click="switch_mobile('2')"><i class="fas fa-globe nav-icon"></i>Global
                    Data</a>
            </div>
        </nav>
        <!-- Main Component -->
        <main>
            <!-- Local Statistics -->
            <section class="local-statistics">
                <h1 class="application-logo" id="top-logo">COVID-19 MONITORING SYSTEM</h1>
                <h1 class="country-name">{{country_name}}</h1>
                <div class="case-statistics">
                    <div class="confirmed">
                        <span class="stat-data">{{country_confirmed}}</span>
                        <span class="stat-label">Confirmed</span>
                    </div>
                    <div class="deaths">
                        <span class="stat-data">{{country_deaths}}</span>
                        <span class="stat-label">Deaths</span>
                    </div>
                    <div class="recovered">
                        <span class="stat-data">{{country_recovered}}</span>
                        <span class="stat-label">Recovered</span>
                    </div>
                </div>
                <div class="local-graph">
                    <canvas id="localGraph" height="100px"></canvas>
                </div>
                <div class="search-box">
                    <input type="text" v-model="search_key" class="search-input" placeholder="Search Country" @keyup="search_country()" />
                    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
                <small class="country-list-header">Country List</small>
                <ul class="country-list" v-for="(value, key) in search_data" v-on:click="change_country(key)">
                    <li class="country">
                        <span>{{key}}</span>
                        <span class="list-cases">{{value[value.length-1]['confirmed']}} Cases</span>
                    </li>
                </ul>
                <div class="spacer"></div>
            </section>
            <!-- Heatmap Section -->
            <section class="heatmap">
                <h1 class="application-logo remove-desktop" id="top-logo">COVID-19 MONITORING SYSTEM</h1>
                <h1 class="heatmap-header">Global Heatmap</h1>
                <div id="region-heatmap"></div>
            </section>
            <!-- Global Statistics -->
            <section class="global-statistics">
                <div class="global-container-header">
                    <h1 class="global-header">Worldwide Cases</h1>
                    <div class="case-statistics global-cases">
                        <div class="confirmed">
                            <span class="stat-data">{{global_confirmed}}</span>
                            <span class="stat-label">Confirmed</span>
                        </div>
                        <div class="deaths">
                            <span class="stat-data">{{global_deaths}}</span>
                            <span class="stat-label">Deaths</span>
                        </div>
                        <div class="recovered">
                            <span class="stat-data">{{global_recovered}}</span>
                            <span class="stat-label">Recovered</span>
                        </div>
                    </div>
                </div>
                <div class="global-graph">
                    <canvas id="globalGraph" height="100px"></canvas>
                </div>
                <div class="top-five-list-container">
                    <small>
                        <h2 class="top-five">Top 5 Affected Countries</h2>
                    </small>
                    <ol class="top-five-list">
                        <li class="top-five-entry" v-for="(value, key) in top_five">
                            <span>{{key}}</span>
                            <span class="entry-cases">{{value}} Cases</span>
                        </li>
                    </ol>
                </div>
                <footer class="credits">
                    <small class="credit">Data from: <a href="https://github.com/pomber/covid19" target="_blank">Pomber Github</a></small>
                    <small class="credit">Created By: John Thomas Carlos using
                        <a href="https://www.chartjs.org/">ChartJS</a> and
                        <a href="https://developers.google.com/chart">Google Charts</a>
                    </small>
                </footer>
            </section>
        </main>
    </div>

    <script src="js/main.min.js"></script>
</body>

</html>